.AddCardButton {
    margin: 0 auto;
    width: 250px;
}

.AddCardButton:focus {
    outline: none;
}

.AddCardButton:hover {
    background: orange;
}

.AddCardTitle {
    font-size: 30px;
    font-family: Helvetica sans-serif;
    background: #373F51;
    color: #fff;
}

.CloseButton {
    color: #fff;
}

.CloseButton:hover {
    color: #fff;
}

.modal.fade .fromBelow {
    transfrom: translate(0, 100%) !important;
    -webkit-transform: translate(0, 100%) !important;
}

.modal.show .fromBelow {
    transfrom: translate(0, 0) !important;
    -webkit-transform: translate(0, 0) !important;
}