.card {
	width: 240px;
	height: 280px;
	display: inline-block;
	border: none;
	margin: 10px;
	padding: 10px;
	border-radius: 0px;
	box-shadow: 2px 2px 2px gray;
	position: relative;
	overflow: hidden;
	background: #FFF;
	border: 1px solid #dfdfdf;
}

.card-title {
	font-size: 25px;
	font-family: Georgia, 'Times New Roman', Times, sans-serif;
	max-height: 93px;
	overflow: hidden;
}

.card-button {
	margin: 7px;
	font-size: 0.8rem;
	padding: 1px 7px 2px;
	transition: 0.5s;
}

.button-left {
	left: 20px;
}

.button-right {
	right: 20px;
}

.card-button:hover {
	background-color: orange;
	color: blue;
}

.card-button:focus {
	outline: none;
}

.card-votes {
	border: 1px solid #dedede;
	height: 50px;
	width: 40px;
	margin: 5px auto;
	border-radius: 4px;
	background-color: orange;
	color: blue;
	font-size: 30px;
}

.favorite {
	font-size: 20px;
	cursor: pointer;
}

.voteButton {
	font-size: 20px;
	margin: 2px;
}
